<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.finalapp.mapper.board.free.like.FreeLikeMapper">
    <insert id="insertFreeLike" parameterType="FreeLikeDTO">
        <selectKey resultType="long" keyProperty="freeLikeId" order="BEFORE">
            SELECT SEQ_FREE_LIKE.nextval FROM DUAL
        </selectKey>
        INSERT INTO TBL_FREE_LIKE(FREE_LIKE_ID, FREE_BOARD_ID, MEMBER_ID)
        VALUES (#{freeLikeId}, #{freeBoardId}, #{memberId})
    </insert>

    <select id="countByMemberIdAndBoardId" resultType="_int">
        SELECT COUNT(*)
        FROM TBL_FREE_LIKE
        WHERE MEMBER_ID = #{memberId} AND FREE_BOARD_ID = #{freeBoardId}
    </select>

    <select id="countByBoardId" resultType="_int">
        SELECT COUNT(*)
        FROM TBL_FREE_LIKE
        WHERE FREE_BOARD_ID = #{freeBoardId}
    </select>

    <delete id="deleteByMemberIdAndBoardId">
        DELETE FROM TBL_FREE_LIKE
        WHERE MEMBER_ID = #{memberId} AND FREE_BOARD_ID = #{freeBoardId}
    </delete>
</mapper>






